{% extends "site_base.html" %}
{% load compressed %}

{% block extra_css %}

{% compressed_css "home_page" %}

{% endblock %}
{% block main %}
	    <div class="wrap">
	    	</div><!--row-->
	    	<hr class="gl-hr">
	    	<div class="row-fluid">
		    	<div class="main-content">
		    		<div id="grace_home">
		    			<h1 id="gl_h1_home">Grace Lee</h1>
		    			<h2>MAKEUP</h2>
		    		</div><!--grace_home-->
		    	</div><!--main content-->
	    	</div><!--row-->
	    	<hr class="gl-hr">
	    </div><!--wrap-->
{% endblock %}
		<!-- Placed at the end of the document so the pages load faster -->
{# <script src="bootstrap/js/jquery.js"></script>#}
{# <script src="/bootstrap/js/bootstrap-transition.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-alert.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-modal.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-dropdown.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-scrollspy.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-tab.js"></script>#}
{# <script src="/bootstrap/js/bootstrap-tooltip.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-popover.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-button.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-collapse.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-carousel.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-typeahead.js"></script> #}
{# <script src="/bootstrap/js/bootstrap-affix.js"></script> #}

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{# <script src="/bootstrap/js/holder/holder.js"></script>#}
<script src="/bootstrap/js/application.js"></script>